body{
    font-family: Verdana;
    color: rgb(6, 1, 1);
    letter-spacing: 1px;
}
h1, h2{
    font-weight: normal;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid #f60707;
}
#page-banner{
    background: hsl(0, 84%, 42%) ;
    padding: 10px 0;

}